@import "tailwindcss";
@plugin "daisyui";



:root {
    --color-header: #D1FC8B;
    --color-all: #fff;
    --color-default:#000;
    --color-secondar:#06aa17;
    --color-thirdy:#D92B1C;
    --color-linearOne: #D9D9D9;
    --color-linearTwo: #737373;
}
@theme {
    --font-primary: 'Imbue',serif;
    --font-secondary: 'IM Fell DW Pica',sans-serif;
    --font-third: 'Instrument Serif',serif;
}




/* Dark Mode */
.dark{
    --color-header: #D1FC8B;
    --color-all: #000;
    --color-default:#fff;
    --color-secondar:#0FFF27;
    --color-thirdy:#D92B1C;
    --color-linearOne: #020000;
    --color-linearTwo: #5a5858;
    --font-primary: 'Imbue',serif;
    --font-secondary: 'IM Fell DW Pica',sans-serif;
    --font-third: 'Instrument Serif',serif;

  
}